.hidden {
    display: none; 
 }
 
 h2 {
     font-family: 'Anton', sans-serif;
     font-size: 50px;
     margin: 0 auto;
     color: #08734E;
 }
 
 p {
     font-family: 'Lato', sans-serif;
     font-size: 18px;
     /* color: #efefef; */
 }
 
 body {
     background-color: #efefef;
 }

 .topSpace {
     margin-top: 300px;
 }
 
 #navSteps {
     background-color: #1F1F1F;
     padding: 20px 20px 20px 20px;
 }
 
 ul {
     margin: 0;
     padding: 0;
     overflow: hidden;
 }
 
 li {
     font-family: 'Lato' sans-serif;
     list-style-type: none;
 }
 
 li, a {
     text-decoration: none;
     color: #efefef;
     font-family: 'Lato', sans-serif; 
     font-size: 18px;
     text-align: center;
     display: inline-block;
     padding: 10px 20px;
     border: none;
     background-color: #558F6E;
 }
 
 li, a:hover {
     color: #08734E;
 }
 
 img {
     margin: 20px 20px 20px 20px;
 }
 
 #movieSelect{
     background-color: #efefef;
 }

 #username {
    font-family: 'Lato', sans-serif;
}

#password {
    font-family: 'Lato', sans-serif;
}

.send {
	font-family: 'Lato', sans-serif;
	display: block;
	width: 200px;
	background-color: #558F6E;
	color: #efefef;
	text-align: center;
	font-size: 14px;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
	transition: all 1s linear;
}
.send:hover {
	background-color: #08734E;
	cursor: pointer;
	transition: all 1s linear;
}

.formStyle {
    font-family: 'Lato', sans-serif;
}
